<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/asgp2">
    <Resource name="jdbc/asgp2" auth="Container" type="javax.sql.DataSource"
        maxActive="20" maxIdle="5" maxWait="3000" removeAbandoned="true"
        username="aiad036" password="aiad036"
        driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
        url="jdbc:sqlserver://w2ksa.cs.cityu.edu.hk:1433;databaseName=aiad036_db;" />
</Context>